body {
  font-family: "Comfortaa";
}
* {
  box-sizing: border-box;
}

#home {
  background-image: url(photo-1580927752452-89d86da3fa0a.avif);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 100vh;
  /* font-family: "Montserrat", sans-serif; */
  size: 120xp;
  padding-top: 350px;
}
/* about */
#about {
  height: 110vh;
  padding-top: 30px;
  overflow: hidden;
  padding-left: 200px;
}
table,
th,
td {
  border: 0.5px solid black;
  font-size: x-large;
}
.sim {
  color: #e6e6e6;
}

.sim > p {
  font-size: x-large;
}
/* about social icons */

.social-links {
  list-style: none;
  padding-bottom: 50px;
  padding-right: 40px;
}
.social-links > li {
  display: inline-block;
  background-color: transparent;
  padding: 5px;
  border-radius: 30%;
}
.social-links > li:hover {
  background-color: #000;
}
li {
  margin: 10px 5px;
}

/* about end */
#skills {
  height: 100vh;
  padding-top: 50px;
}

#projects {
  height: 100vh;
  padding-top: 50px;
}

#contact {
  height: 80vh;
  padding: 30px;
}

.banner-text {
  text-align: center;
  bottom: 30%;
  left: 35%;
}
.banner-text h1 {
  color: rgb(238, 255, 254);
  font-size: 75px;
  margin: 0;
  font-weight: bold;
}

.banner-text p {
  color: seashell;
  font-size: 30px;
  margin: 0;
}
section {
  background-color: rgb(46, 45,  45);
  align-content: center;
  color: #fff;
}
h2 {
  text-align: center;
  padding-top: 50px;
}
#main {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}

.card-block {
  margin-bottom: 15px;
}

.card {
  margin: auto;
}

.container {
  border: 2px solid #ccc;
  background-color: transparent;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0;
  margin-left: 235px;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

.container span {
  font-size: 20px;
  margin-right: 15px;
}

.container img {
  margin: auto;
  float: none;
  display: block;
  width: 120px;
}

.header-tittle h1 {
  /* font-family: "Lobster", cursive; */
  color: #fff;
  font-size: 2rem;
  position: relative;
  text-align: center;
}

/* testimonial */
.testimonials {
  margin: 60px auto 100px;
  display: grid;
  grid-template-columns: repeat(3, minmax(350px, 1fr));
  grid-gap: 20px;
  padding-left: 200px;
  padding-right: 200px;
}

.testimonials .card {
  position: relative;
  width: 350px;
  margin: 0 auto;
  background: #333;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.testimonials .card .layer {
  position: absolute;
  top: calc(100% - 2px);
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#43cbff, #9708cc);
  z-index: 1;
  transition: 0.5s;
}

.testimonials .card:hover .layer {
  top: 0;
}

.testimonials .card .content {
  position: relative;
  z-index: 2;
}

.testimonials .card .content p {
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  min-height: 15vh;
}

.testimonials .card .content .image {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #fff;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
}

.testimonials .card .content .details h2 {
  font-family: "Lobster", cursive;
  font-size: 24px;
  color: #fff;
}

.testimonials .card .content .details h3 {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #43cbff;
  transition: 05s;
}

.testimonials .card:hover .content .details h3 {
  color: #fff;
}

.media {
  margin: auto;
  width: 100%;
  text-align: left;
}

li {
  list-style: none;
  margin: auto;
  display: inline-block;
  font-size: 20px;
  padding: 0px 20px;
  color: #fff;
}

a {
  color: #fff;
}

a:hover {
  color: #43cbff;
}

/* MEDIA RESPONSIVENESS */
/* @media only screen and (max-width: 600px) {
  #main {
    margin-left: 0;
  }
  .land {
    text-align: center;
  }
} */
