#home {
  background-image: url(gb.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.home {
  font-family: "Montserrat", sans-serif;
  size: 50xp;
  color: wheat;
}
.banner-text {
  position: absolute;
  top: 40%;
  text-align: center;
  left: 35%;
}
.banner-text h1 {
  color: rgb(238, 255, 254);
  font-size: xx-large;
  margin: 0;
  font-weight: bold;
}

.banner-text p {
  color: seashell;
  font-size: 30px;
  margin: 0;
}
section {
  height: 100vh;
  background-color: darkslategray;
  align-content: center;
}
#main {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}

.card-block {
  margin-bottom: 15px;
}
/* MEDIA RESPONSIVENESS */
@media only screen and (max-width: 600px) {
  #main {
    margin-left: 0;
  }
}

.card {
  margin: auto;
}
